body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: #E6E6E6;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 0;
}
.separado{
    letter-spacing: 10px;
    color: #005677;
    background-color: #C4C4C4;
}
section{
    margin-top: 10% ;
}
.none{
    list-style: none;
}
footer{
    background-color: #005677;
    text-align: center;
    color: white;
    margin: 0;
    padding: 5px;
}
.footer{
    list-style: none;
    word-spacing: 10px;
}
li.en-linea{
    display: inline;
}
span{
    font-style: italic;
    font-weight: bold;
}